{% extends './base.html' %}

{% block title %} Gestão de Cursos {% endblock  %}


{% block body %}
    
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Gestão de Cursos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarCurso/" method="POST"> {% csrf_token %}
                    <div class="col">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo" required>
                    </div>
                   
                        <input type="text" id="txtNome" name="txtNome" class="form-control" placeholder="Nome" required>
                

                    
                        <input type="text" id="txtCredito" name="txtCredito" class="form-control" placeholder="Credito" value="1" required>
                  
                    
                        <button type="submit" class="btn-success btn-block">Salvar</button>
                   
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Lista de Cursos</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nome</th>
                        <th>Creditos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cursos %}
                    <tr>
                        <td>{{c.codigo}}</td>
                        <td>{{c.nome}}</td>
                        <td>{{c.creditos}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock  %}